<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Edit Company</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.min.css"/>
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="style.css" />
    <script src="https://use.fontawesome.com/a75d13c8f9.js"></script>
</head>
<body ng-controller="EditCompanyController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Meals Deals & Steals</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="upload.html">Coupon Upload</a></li>
                <li><a href="upload-company.html">Company Upload</a></li>
                <li><a href="manage-companies.html">Manage Companies</a></li>
            </ul>
        </div>
    </nav>
    <br/><br/><br/>
    <form class="edit-company-page">
        <h1>Edit Company</h1>
        <p>Company Name:</p>
        <md-input-container>
            <label>Title</label>
            <input ng-model="editItem.title" />
        </md-input-container>
        <br>
        <p>Company Category:</p>
        <select ng-model="editItem.category">
            <option disabled selected value> -- select an option -- </option>
            <option value="food">Food</option>
            <option value="shopping">Shopping</option>
            <option value="homeServices">Home Services</option>
            <option value="events">Events & Attractions</option>
        </select>
        <br>
        <p>Company Locations:</p>
            <md-input-container>
                <label>Company Location 1</label>
                <input placeholder="" id="company-loc1"/>
            </md-input-container>
            <br/>
            <md-input-container>
                <label>Company Location 2</label>
                <input placeholder="" id="company-loc2"/>
            </md-input-container>
            <br/>
            <md-input-container>
                <label>Company Location 3</label>
                <input placeholder="" id="company-loc3"/>
            </md-input-container>
            <br/>
            <md-input-container>
                <label>Company Location 4</label>
                <input placeholder="" id="company-loc4"/>
            </md-input-container>
            <br/>
            <md-input-container>
                <label>Company Location 5</label>
                <input placeholder="" id="company-loc5"/>
            </md-input-container>
            <br/>
        <p>Description:</p>
        <md-input-container>
            <label>Description</label>
            <textarea ng-model="editItem.description" rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <br/>
        <md-button class="md-raised md-primary" ng-click="updateCompany()">Update</md-button>
    </form>




    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRDfSJHD02Jdt6XmIsxPRBcpeP2-F8sEI&libraries=places"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAhYq_vvU6iV4ehqnRiQxMyVfkdQCA5AWA",
        authDomain: "mealsdealssteals.firebaseapp.com",
        databaseURL: "https://mealsdealssteals.firebaseio.com",
        storageBucket: "mealsdealssteals.appspot.com",
        messagingSenderId: "555245365383"
      };
      firebase.initializeApp(config);
    </script>
    <script src="emails.js" charset="utf-8"></script>
    <script src="app.js"></script>
    <script type="text/javascript" src="edit-company.controller.js"></script>
</body>
</html>
