.upload-coupon-page{
  text-align: center;
}
.items{
  height: 35%;
}
.sorter{
  float: left;
}
.search{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.edit-dialog{
  text-align: center;
}