body{
  background-color: white !important;
}
form{
  background-color: white !important;
}
.upload-coupon-page{
  text-align: center;
}
.items{
  height: 35%;
}
.sorter{
  float: left;
}
.search{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.edit-company-page{
  text-align: center;
}
#company-loc{
  width: 150%;
}