<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Uploader</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="style.css" />

    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script>
        // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBF89RtaK5UTwZipFi86FtlqoDuFsvBQjw",
    authDomain: "chatts.firebaseapp.com",
    databaseURL: "https://chatts.firebaseio.com",
    storageBucket: "firebase-chatts.appspot.com",
  };
  firebase.initializeApp(config);

    </script>

</head>

<body class="upload-coupon-page" ng-controller="MainController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Meals Deals & Steals</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="upload.html">Coupon Upload</a></li>
                <li><a href="upload-company.html">Company Upload</a></li>
                <li><a href="manage-companies.html">Manage Companies</a></li>
            </ul>
        </div>
    </nav>
    <h1>Upload a Coupon</h1>
    <form id="form">
        <p>Select a company:</p>
        <select ng-model="coupon.company">
            <option disabled selected value> -- select an option -- </option>
            <option value="{{company.title}}" ng-repeat="company in companies">{{company.title}}</option>
        </select>
        <br>
        <p>Name your coupon:</p>
        <md-input-container>
            <label>Coupon Title</label>
            <input ng-model="coupon.title" />
        </md-input-container>
        <br>
        <p>Coupon Type</p>
        <select ng-model="coupon.oneTime">
            <option disabled selected value> -- select an option -- </option>
            <option value="true">One Time Use</option>
            <option value="false">Unlimited</option>
        </select>
        <br/>
        <md-input-container>
            <label>Description</label>
            <textarea ng-model="coupon.description" rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <br>
        <p>Coupon Expiration</p>
        <md-datepicker ng-model="coupon.expiration" md-placeholder="Date"></md-datepicker>
        <br>
        <p>Coupon Image:</p>
        <input style="display: block; margin-left: auto; margin-right: auto" onchange="previewFile()" type="file" />
        <br>
        <img src="" alt="Image Preview" style="height: 200px" />
        <br>
        <md-button class="button-raised" ng-click="newAddItem(coupon)">Upload</md-button>
        <!--<md-button class="button-raised" ng-click="newAddItem(coupon)">New Upload</md-button>-->
    </form>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="bower_components/ng-dialog/js/ngDialog.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
    <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAhYq_vvU6iV4ehqnRiQxMyVfkdQCA5AWA",
    authDomain: "mealsdealssteals.firebaseapp.com",
    databaseURL: "https://mealsdealssteals.firebaseio.com",
    storageBucket: "mealsdealssteals.appspot.com",
    messagingSenderId: "555245365383"
  };
  firebase.initializeApp(config);
</script>
    <script src="app.js"></script>
</body>

</html>